.wrapForOrder{
    background-color: mediumturquoise;
    position: relative;
    width: 80%;
    height: 100%;
    top: 0%;
    left: 10%;
}
.dateWidth{
    width: 80%;
}
.descrBook{
    left: 15%;
    position: absolute;
    width: 70%;
    height: 100%;
    background: lightseagreen;
}

.h1Titile{
    text-align: center;
    margin: 40px 10px;
}
.imgBook{
    width: 270px;
    vertical-align: middle;
    float: left;
    margin-right: 40px;
    margin-left: 40px;
}
.nameAuthor{
    margin: 30px 30px;
    font-size: 18px;
    font-weight: 600;
}
.descr{
    font-size: 17px;
}
.formOrder{
    position: absolute;
    top: 30%;
    width: 90%;
    height: 100%;
    left: 20%;
}
.infoMessage{
    color: oldlace;
    font-size: 17px;
    margin: 20px 0;
}
.forLabel{
    left:-100%;
    position: absolute;
    margin-top: 1%;
    font-size: 20px;
}
.wrapForLabel{
    position: relative;
    width: 48%;
    left: 0%;
    top: 5%;
}
.wrapForDate{
    position: relative;
    width: 62%;
    left: 50%;
    top: 5%;
    margin-right: 2%;
}
.submitButtom{
    width: 90%;
    margin-left: 10%;
}
.nameBook{
    font-size: 20px;
    font-weight: 700;
    padding-left: 35px;
    margin: 20px 10px;
}
.spanNameBook{
    margin-left: 14%;
}
.ui-form {
    max-width: 460px;
    /*padding: 80px 30px 30px;*/
    /* margin: 150px 30px 90px 30px; */
    /* background: white; */
    margin-left: 45%;
}
.ui-form h3 {
    position: relative;
    z-index: 5;
    margin: 0 0 60px;
    text-align: center;
    color: #4a90e2;
    font-size: 30px;
    font-weight: normal;
}
.ui-form h3:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 60px;
    top: -30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fee8e4;
}
.ui-form h3:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 50px;
    top: -40px;
    width: 0;
    height: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 90px solid #ffe3b5;
}
.form-row {
    position: relative;
    margin-bottom: 40px;
}
.form-row input {
    display: block;
    width: 48%;
    position: absolute;
    left: 50%;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #4a90e2;
    transition: all 0.2s ease;
}
.form-row label {
    position: absolute;
    left: 13px;
    color: #9d959d;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
}
.form-row input:focus {
    outline: 0;
    border-color: #F77A52;
}
/*.form-row input:focus + label,*/
/*.form-row input:valid + label {*/
    /*transform: translateY(-60px);*/
    /*margin-left: -14px;*/
    /*font-size: 14px;*/
    /*font-weight: 400;*/
    /*outline: 0;*/
    /*border-color: #F77A52;*/
    /*color: #F77A52;*/
/*}*/
.ui-form input[type="submit"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #4a90e2;
    border-width: 0;
    color: white;
    font-size: 20px;
}
.ui-form p {
    width: 100%;
}







