
.vertical-menu {
    padding:41px 0 0 0;
    list-style:none;
}

.vertical-menu a {

color: rgb(126, 127, 132);
  display: block;
  padding:12px;

  text-decoration: none;
}

.vertical-menu a:hover {
    color:#FFFFFF;
    background-color: #f45a40;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
