html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
  font-size: 100%;
  list-style-type: none;
	                 
	                 /* размер шрифта всем одинаковый */
}
element.style {
.fa-search:before {
    content: none;
}
}
    *::before,
    *::after {
      box-sizing: border-box;
    }
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse;
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
}
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #7e7f84;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: 'Roboto', sans-serif;
	/*
    font-family: 'Roboto Condensed', sans-serif;
    */
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #f45a40;
	text-decoration: underline;
}
a:hover {
	color: #f45a40;
	text-decoration:none;
}
a:focus, a:active {
	color: #f45a40;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

.center-block-main{
    max-width:1170px;
    margin:0 auto;
}
.header-top{
    padding:20px 0;
    border-bottom:1px solid #eee;
}
.header-bottom{
 border-bottom:1px solid #eee;
}

.logo{

    font-size:1.475em;

}



.search{


}
.search input {

    height: 42px;
        width: 250px;
    padding-left: 10px;
    border: 2px solid #f45a40;
    outline: none;
    border-radius: 0.4rem;


}
.search button {
    border-color:#f45a40;
    border-radius: 0.4rem;
    height:43px;
    border:0px;
    background: #f45a40;
    cursor: pointer;
    color:#eee;
    margin-bottom:3px;
}
.search button:hover{

    background: #ed3c1e;
    cursor: pointer;
    color:#fff;
}





.col-sm .login .col{
padding:0 3px;
}

.login{


float:right;
}
.login a {
    font-size:0.95em;

}

.header-bottom{
    padding:10px 0;
}
.menu{

}
.menu li{
    float:left;
    text-transform:uppercase;

    font-size:0.875em;
}
.menu li a{
color:#7e7f84;
text-decoration:none;
}
.nav-link:hover {
color:#f45a40;
}

.tp1{
  color: #fff;
  font-size: 30px;
  text-decoration:inherit;
  
}
a h2.tp1{
	color:#fff;
}
a p.tp1{
	font-size: 17px;
	color: #fff;
}




.block-section{
padding-top:30px;
}
.block-section > h2{
text-align:center;
font-family: 'Roboto Condensed', sans-serif;
color:#67686d;
font-size:1.600em;
margin-bottom:20px;
}
.block-main{

}
.block-main arcticle{
    width:23%;
    margin-left:2.66%;
    float:left;
}
.block-main arcticle:first-child{
margin-left:0;
}
.block-main arcticle img{
display:block;
margin:0 auto;
}

.block-main-content{
padding:20px 20px 0 20px;
border:1px solid #eee;
border-top:0;
}

.block-main-content h2{
color:#67686d;
font-size:1.125em;
text-transform:uppercase;
margin-bottom:5px;
}
.block-main-content h3{
font-size:0.875em;
text-transform:uppercase;
margin-bottom:10px;
font-style:italic;
}
.block-main-content p{
font-size:0.625em;
margin-bottom:15px;
}

p.product{
border-top:1px solid #eee;
font-size:0.875em;
color:#f45a40;
padding:15px 0;
margin-bottom:0;
}

.available{
float:left;
}

.booking-btn{
float:right;
}
.ListOfPopular{
    text-align:center;
    padding: 20px 0;
}
.ListOfPopular span a{
	color: #f45a40;
	text-transform: uppercase;
	text-decoration: none;
    display: inline-block;
	height: 50px;
    line-height: 50px;
    position: relative;
    border: 1px solid #f45a40;
    padding: 0 1em;
}
.ListOfPopular span a:hover{
	color: #eee;
	background:#f45a40;
	text-transform: uppercase;
	text-decoration: none;
    display: inline-block;
	height: 50px;
    line-height: 50px;
    position: relative;
    border: 1px solid #f45a40;
    padding: 0 1em;
}











.slider {
      position: relative;
      overflow: hidden;
      margin: 0 auto;

    }

    .slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }

    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }

    @media (min-width: 576px) {
      .slider__item {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    @media (min-width: 992px) {
      .slider__item {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
    }

    @media (min-width: 1200px) {
      .slider__item {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    .slider__control {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      color: #fff;
      text-align: center;
      bottom: 0;
      background: #fff;
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
    }

    .slider__control_left {
      left:0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__content_header {
      position: relative;
    }

    .slider__content_img {
      display: block;
      height: auto;

      max-width: 100%;
    }

    .slider__content_section {
      position: absolute;
      bottom: 0;
      left: 0;
      background: #009688;
      color: #fff;
      padding: 4px 8px;
    }

    .slider__content_title {
      background: #f5f5f5;
      color: #424242;
      white-space: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.3;
      padding: 10px 15px;
      margin: 0;
      height: 52px;
    }

    .slider__content_footer {
      background: #f5f5f5;
      display: flex;
      padding: 20px 15px;
      color: #616161;
    }

    .slider__content_avatar {
      flex: 0 0 40px;
      max-width: 40px;
    }


    .slider__content_author {
      margin-left: 8px;
      line-height: 40px;
    }

    .slider__content_icon {
      height: 18px;
      margin-top: 12px;
      margin-left: auto;
    }

    .slider__content_views {
      margin-left: 4px;
      line-height: 40px;
    }
.line button{
margin:10px 0;

}

.line{
border-top:1px solid #eee;
}
.card{
  border: 0;
}
.card-title {
  color: #215388;
  text-align: center;
  margin-bottom: .75rem;
}
.card-img-top {
  margin: auto;
  width: 80%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  text-align: center;
}

.card .carousel-item {
 height: 200px;
}
.card .carousel-caption {
 padding: 0;
 right: 0;
 left: 0;
 color: #3d3d3d;
}
.card .carousel-caption h3 {
 color: #3d3d3d;
}
.card .carousel-caption p {
 line-height: 30px;
}
.card .carousel-caption .col-sm-3 {
 display: flex;
 align-items: center;
}
.card .carousel-caption .col-sm-9 {
 text-align: left;
}
.navi a {
 text-decoration:none;
}
a > .ico {
 background-color: grey;
 padding: 10px;
}
a:hover > .ico {
 background-color: #666;
}





.scroll{
    overflow-y:auto !important;
    height: 100%;
}

.b1 {
    height: calc(20vh - 72px);
    flex:1;
    overflow: hidden;
}












:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}




.modal-dialog1 {

  max-width: 850px;


}











.modal-content {

  border: 0;
  border-radius: 1rem;
 box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .modal-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
.pass{
font-weight: 300;
  font-size: 1.1rem;
  text-align:center;
  padding-top:12px;
}








#search_advice_wrapper2{
    display:none;
    width: 230px;
    background-color: rgb(80, 80, 114);
    color: rgb(255, 227, 189);
    -moz-opacity: 0.95;
    opacity: 0.95;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
    filter:alpha(opacity=95);
    z-index:999;
    position: absolute;
    top: 30px;
    left: 0px;
}

#search_advice_wrapper2 .advice_variant{
    cursor: pointer;
    padding: 5px;
    text-align: left;
}
#search_advice_wrapper2 .advice_variant:hover{
    color:#FEFFBD;
    background-color:#818187;
}
#search_advice_wrapper2 .active{
    cursor: pointer;
    padding: 5px;
    color:#FEFFBD;
    background-color:#818187;
}

#search_box{

}

#search_advice_wrapper{
    display:none;
    width: 250px;
    background-color: #f45a40;
    color: #fff;
    -moz-opacity: 0.95;
    opacity: 0.95;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
    filter:alpha(opacity=95);
    z-index:999;
    position: absolute;
    top: 41px;
    left: 0px;
}

#search_advice_wrapper .advice_variant{
    cursor: pointer;
    padding: 5px;
    text-align: left;
}
#search_advice_wrapper .advice_variant:hover{

    background-color:#ed3c1e;
}
#search_advice_wrapper .active{
    cursor: pointer;
    padding: 5px;
    color:#fff;
    background-color:z ;
}



.btn-primary {
  color: #fff;
  background-color: #f45a40;;
  border-color: #f45a40;;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ed3c1e;
  border-color: #ed3c1e;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0 #f45a40;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #f45a40;
  border-color: #f45a40;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ed3c1e;
  border-color: #ed3c1e;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 #ed3c1e;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #ed3c1e;
}



.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color:#fff;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
 color:#fff;
  text-decoration: none;
  background-color: #f45a40;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #f45a40;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #6c757d;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn1 {
  color: #7e7f84;
  background-color: transparent;
  background-image: none;
  border-color: #7e7f84;
  text-decoration:none;
}
.btn1>a{
  text-decoration:none;
  color: #7e7f84;
}
.btn1:hover {
  color: #f;
  background-image: none;
  border-color: #f45a40;
  text-decoration:none;
}
.btn1:hover>a{
  color: #f45a40;
  text-decoration:none;
}

.btn2{
  color: #fff;
  background-color: #7e7f84;
  background-image: none;
  text-decoration:none;
}
.btn2>a{
  color: #fff;
  text-decoration:none; 
}
.btn2:hover {
  color: #fff;
  background-color: transparent;
  background-image: none;
  background-color: #f45a40;
  text-decoration:none;
}
.btn2:hover>a {
  color: #fff;
  text-decoration:none;
}


.card-title > a{
  color:#7e7f84;
}








