html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
    *::before,
    *::after {
      box-sizing: border-box;
    }
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse;
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
}
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #7e7f84;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: 'Roboto', sans-serif;
	/*
    font-family: 'Roboto Condensed', sans-serif;
    */
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #f45a40;
	text-decoration: underline;
}
a:hover {
	color: #f45a40;
	text-decoration:none;
}
a:focus, a:active {
	color: #f45a40;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

.center-block-main{
    max-width:1170px;
    margin:0 auto;
}
.header-top{
    padding:30px 0;
    border-bottom:1px solid #eee;
}
.logo{
    float:left;
    font-size:1.475em;
    margin-top:10px;
}
.search{
    float:center;
    margin:0 20% 0 15%;
}
.search input {
    width: 90%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #f45a40;
    outline: none;

}
.search button {
    position: absolute;
    width: 80px;
    height: 46px;
    border: none;
    background: #f45a40;
    cursor: pointer;
    color:#eee;
}
.login{
    float:right;
    margin-top:-30px;

}
.login a {
    font-size:0.95em;
    margin-left:20px;
}

.header-bottom{
    padding:10px 0;
}
.menu{
    float:left;
}
.menu li{
    float:left;
    text-transform:uppercase;
    margin-right:30px;
    font-size:0.875em;
}
.menu li a{
color:#7e7f84;
text-decoration:none;
}
.menu li a:hover{
color:#f45a40;
}
.slider1{
padding:20px 0;
}
#slides{
    position: relative;
    height: 400px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing{
    opacity: 1;
    z-index: 2;
}

.slide{
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1){
    background: red;
}
.slide:nth-of-type(2){
    background: orange;
}
.slide:nth-of-type(3){
    background: green;
}
.slide:nth-of-type(4){
    background: blue;
}
.slide:nth-of-type(5){
    background: purple;
}



.block-section{
margin-bottom:60px;
}
.block-section > h2{
text-align:left;
font-family: 'Roboto Condensed', sans-serif;
color:#67686d;
font-size:1.375em;
margin-bottom:20px;
}
.block-main{

}
.block-main arcticle{
    width:23%;
    margin-left:2.66%;
    float:left;
}
.block-main arcticle:first-child{
margin-left:0;
}
.block-main arcticle img{
display:block;
margin:0 auto;
}

.block-main-content{
padding:20px 20px 0 20px;
border:1px solid #eee;
border-top:0;
}

.block-main-content h2{
color:#67686d;
font-size:1.125em;
text-transform:uppercase;
margin-bottom:5px;
}
.block-main-content h3{
font-size:0.875em;
text-transform:uppercase;
margin-bottom:10px;
font-style:italic;
}
.block-main-content p{
font-size:0.625em;
margin-bottom:15px;
}

p.product{
border-top:1px solid #eee;
font-size:0.875em;
color:#f45a40;
padding:15px 0;
margin-bottom:0;
}

.available{
float:left;
}

.booking-btn{
float:right;
}
.ListOfPopular{
    text-align:center;
    padding: 20px 0;
}
.ListOfPopular span a{
	color: #f45a40;
	text-transform: uppercase;
	text-decoration: none;
    display: inline-block;
	height: 50px;
    line-height: 50px;
    position: relative;
    border: 1px solid #f45a40;
    padding: 0 1em;
}
.ListOfPopular span a:hover{
	color: #eee;
	background:#f45a40;
	text-transform: uppercase;
	text-decoration: none;
    display: inline-block;
	height: 50px;
    line-height: 50px;
    position: relative;
    border: 1px solid #f45a40;
    padding: 0 1em;
}











.slider {
      position: relative;
      overflow: hidden;
      margin: 0 auto;

    }

    .slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }

    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }

    @media (min-width: 576px) {
      .slider__item {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    @media (min-width: 992px) {
      .slider__item {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
    }

    @media (min-width: 1200px) {
      .slider__item {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    .slider__control {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      color: #fff;
      text-align: center;
      bottom: 0;
      background: #fff;
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
    }

    .slider__control_left {
      left:0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__content_header {
      position: relative;
    }

    .slider__content_img {
      display: block;
      height: auto;

      max-width: 100%;
    }

    .slider__content_section {
      position: absolute;
      bottom: 0;
      left: 0;
      background: #009688;
      color: #fff;
      padding: 4px 8px;
    }

    .slider__content_title {
      background: #f5f5f5;
      color: #424242;
      white-space: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.3;
      padding: 10px 15px;
      margin: 0;
      height: 52px;
    }

    .slider__content_footer {
      background: #f5f5f5;
      display: flex;
      padding: 20px 15px;
      color: #616161;
    }

    .slider__content_avatar {
      flex: 0 0 40px;
      max-width: 40px;
    }


    .slider__content_author {
      margin-left: 8px;
      line-height: 40px;
    }

    .slider__content_icon {
      height: 18px;
      margin-top: 12px;
      margin-left: auto;
    }

    .slider__content_views {
      margin-left: 4px;
      line-height: 40px;
    }



.modal:before {
content: "";
display: none;
background: rgba(0, 0, 0, 0.6);
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 10;
}
.modal:target:before {
display: block;
}
.modal-dialog {
background: #fefefe;
border: #333 solid 1px;
border-radius: 5px;
margin-left: -200px;
position: fixed;
left: 50%;
top: -100%;
z-index: 11;
width: 360px;
-webkit-transform: translate(0, -500%);
-ms-transform: translate(0, -500%);
transform: translate(0, -500%);
-webkit-transition: -webkit-transform 0.3s ease-out;
-moz-transition: -moz-transform 0.3s ease-out;
-o-transition: -o-transform 0.3s ease-out;
transition: transform 0.3s ease-out;
}


.modal:target .modal-dialog {
-webkit-transform: translate(0, 0);
-ms-transform: translate(0, 0);
transform: translate(0, 0);
top: 20%;
}
wrap {
padding: 40px;
text-align: center;
}
hr {
clear: both;
margin-top: 40px;
margin-bottom: 40px;
border: 0;
border-top: 1px solid #aaa;
}
h1 {
font-size: 30px;
margin-bottom: 40px;
}
p {
margin-bottom: 20px;
}
.modal-body {
padding: 20px;
}
.modal-header,
.modal-footer {
padding: 10px 20px;
}
.modal-header {
border-bottom: #eee solid 1px;
}
.modal-header h2 {
font-size: 20px;
}
.modal-footer {
border-top: #eee solid 1px;
text-align: right;
}
.btn {
background: #428bca;
border: #357ebd solid 1px;
border-radius: 3px;
color: #fff;
display: inline-block;
font-size: 14px;
padding: 8px 15px;
text-decoration: none;
text-align: center;
min-width: 60px;
position: relative;
transition: color .1s ease;
/* top: 40em;*/
}
.btn:hover {
background: #357ebd;
}
.btn.btn-big {
font-size: 18px;
padding: 15px 20px;
min-width: 100px;
}
.btn-close {
color: #aaa;
font-size: 30px;
text-decoration: none;
position: absolute;
right: 5px;
top: 0;
}
.btn-close:hover {
color: #919191;
}
/*добавляем, чтобы остановить прокручивание вверх*/
#close {
display: none;
}
.form-row {

.ui-form {
    max-width: 350px;
    padding: 80px 30px 30px;
    margin: 50px auto 30px;
    background: white;
}

