<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/infoOrder.css" th:href="@{/css/InfoOrder.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">

    <title>Информация о бронировании</title>
</head>
<div>
    <header>


        <!-- Button trigger modal -->

        <!-- авторизация -->
        <div class="modal fade" id="avt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title">Авторизация</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form  method="post"  class="form-signin" th:action="@{/login}">
                            <div class="form-label-group">
                                <p th:if="${errorLogin!=''}" th:text="${errorLogin}"  id="messageLogin"></p>
                            </div>
                            <div class="form-label-group">
                                <input type="text" name="username" class="form-control" placeholder="Логин" id="username" required autofocus >
                                <label for="username">Логин</label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" name="password"  class="form-control" placeholder="Пароль" id="password12" required autofocus>
                                <label for="password12">Пароль</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Запомнить пароль</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Войти</button>

                            <p class="pass"><a th:href="@{/recoverPass}" class="recoverPass ">Забыли пароль?</a></p><!--Изменяем на "#close"-->


                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- регистрация -->

        <div class="modal fade" id="reg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form  method="post" class="form-signin" th:action="@{/registration} ">
                            <div class="form-label-group">
                                <p th:if="${errorRegistration}" th:text="${errorRegistration}" id="messageRegistration"></p>
                            </div>

                            <div class="form-label-group">
                                <input type="text" name="login" class="form-control" id="login" th:if="${user!=null}" th:value="${user.getLogin()}" placeholder="Логин" required autofocus>
                                <label  th:if="${user!=null}" for="login" >Логин</label>
                                <input type="text" name="login" class="form-control" id="login1" th:if="${user==null}" placeholder="Логин" required autofocus>
                                <label for="login1" th:if="${user==null}" >Логин</label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" name="password" class="form-control" id="password" pattern=".{8,}"  placeholder="Пароль" required autofocus title="8 символов  минимум">
                                <label for="password"  >Пароль</label>
                            </div>
                            <div class="form-label-group">
                                <input type="text" name="fio"  class="form-control" id="fio" th:if="${user!=null}" th:value="${user.getFio()}" pattern="[а-яА-Я]+ [а-яА-Я]+ [а-яА-Я]+" placeholder="Фамилия Имя Отчество" required autofocus title="Возможно вы пропустили пробел между ФИО">
                                <label th:if="${user!=null}"   for="fio">Фамилия Имя Отчество</label>
                                <input type="text" name="fio" class="form-control" id="fio1" th:if="${user==null}" pattern="[а-яА-Я]+ [а-яА-Я]+ [а-яА-Я]+" placeholder="Фамилия Имя Отчество" required autofocus title="Возможно вы пропустили пробел между ФИО">
                                <label th:if="${user==null}"   for="fio1">Фамилия Имя Отчество</label>
                            </div>
                            <div class="form-label-group">
                                <input type="email" name="email" class="form-control" id="email" th:if="${user!=null}" th:value="${user.getEmail()}" placeholder="E - mail" required autofocus>
                                <label th:if="${user!=null}"   for="email">E - mail</label>
                                <input type="email" name="email" class="form-control" id="email1" th:if="${user==null}" placeholder="E - mail" required autofocus>
                                <label for="email1" th:if="${user==null}"  >E - mail</label>
                            </div>
                            <div class="form-label-group">
                                <input type="date" name="birthday" class="form-control" th:if="${user!=null}" th:value="${user.getBirthday()}" id="birthday">
                                <label th:if="${user!=null}" id="specialLabel1"   for="birthday">Дата рождения</label>
                                <input type="date" name="birthday" class="form-control" th:if="${user==null}"  id="birthday1">
                                <label id="specialLabel" for="birthday1" th:if="${user==null}">Дата рождения</label>
                            </div>
                            <div class="form-label-group">
                                <input type="number" name="phone_number" class="form-control" th:if="${user!=null}" th:value="${user.getPhone_number()}" pattern="[0-9]{10}" id="phone_number" placeholder="Номер телефона" required autofocus title="Длина должна быть 10 цифр">
                                <label th:if="${user!=null}" for="phone_number"  >Номер телефона</label>
                                <input type="number" name="phone_number"  class="form-control"th:if="${user==null}"  pattern="[0-9]{10}" id="phone_number1" placeholder="Номер телефона" required autofocus title="Длина должна быть 10 цифр">
                                <label th:if="${user==null}" for="phone_number1"  >Номер телефона</label>
                            </div>
                            <div class="form-label-group">
                                <input type="text" name="address" id="address" class="form-control" th:if="${user!=null}" th:value="${user.getAddress()}" placeholder="Адрес проживания" required autofocus autocomplete="off">
                                <label th:if="${user!=null}" for="address"  >Адрес проживания</label>
                                <input type="text" name="address" id="address1" class="form-control" th:if="${user==null}" placeholder="Адрес проживания" required autofocus autocomplete="off">
                                <label for="address1" th:if="${user==null}"  >Адрес проживания</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Зарегистрироваться</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>


</div>




<div class="center-block-main">


    <div class="header-top clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm">



                    <p class ="h2"><a th:href="@{/}">LIBRARY</a></p>




                </div>
                <div class="col-sm">
                    <div class="input-group search">
                        <form th:action="@{/find}" method="post">
                            <input type="text"  name="info" id="search_box"
                                   placeholder="Введите название книги " autocomplete="off">
                            <button class="btn btn-outline-secondary" type="submit">ИСКАТЬ</button>
                        </form>


                        <div id="search_advice_wrapper"></div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="login">
                        <div class="row">
                            <div class="col">
                                <button type="button" sec:authorize="isAnonymous()" class="btn btn-primary" data-toggle="modal" data-target="#avt">
                                    Вход
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" sec:authorize="isAnonymous()" class="btn btn-primary" data-toggle="modal" data-target="#reg">
                                    Регистрация
                                </button>
                            </div>

                            <form sec:authorize="hasAnyAuthority('USER')" th:action="@{/lk}">
                                <div class="col">
                                    <button type="submit"  class="btn btn-primary" data-toggle="modal">
                                        Личный кабинет
                                    </button>
                                </div>
                            </form>


                            <form sec:authorize="hasAnyAuthority('ADMIN','LIBRARIAN')" th:action="@{/lkstaff}">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary" data-toggle="modal">
                                        Личный кабинет
                                    </button>
                                </div>
                            </form>


                            <form sec:authorize="isAuthenticated()" th:action="@{/logout}">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary" data-toggle="modal">
                                        Выйти
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="header-bottom">
        <nav>
            <ul class="nav nav-pills menu">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Жанры</a>
                    <ul class="dropdown-menu">
                        <li th:each="genre:${genres}">
                        <a class="dropdown-item" th:href="'/genre/'+${genre.getGenre_id()}"  th:text="${genre.getName()}"></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/new}">Новинки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/popular}">Популярное</a>
                </li>
            </ul>
        </nav>
    </div>

    </header>


    <main>
        <div class="mainDiv">
            <div class="wrapForOrder">
                <div class="wrapForTitle">
                    <div class="d16news"><h3><span>Информация о бронировании</span></h3></div>
                </div>
                <div class="wrapTable">
                    <table class="tbl">
                        <tr><td>Ваш номер заказа:</td> <td th:text="${order.getOrder_id()}"></td></tr>
                        <tr><td>Название книги:</td> <td th:text="${order.getBook().getName()}"></td></tr>
                        <tr><td>Начало бронирования:</td> <td th:text="${startDate}"></td></tr>
                        <tr><td>Окончание бронирования:</td> <td th:text="${endDate}"></td></tr>
                    </table>

                </div>

            </div>
        </div>
    </main>
</div>





























    <script type="text/javascript">
        $(document).ready(function() {
            $('.col').height($(document).height());
        });
    </script>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>





    <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            locale: 'ru',
            stepping:10,
            format: 'DD.MM.YYYY',
            daysOfWeekDisabled:[0,6]
        });
        $('#datetimepicker2').datetimepicker({
            locale: 'ru',
            stepping:10,
            format: 'DD.MM.YYYY',
            daysOfWeekDisabled:[0,6]
        });
    });
</script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#datetimepicker1').on('dp.show',function () {
            $id_book=$('#id').val();
            $.ajax({
                type:'GET',
                data:{book_id:$id_book},
                url:"../order/mindata",
                success:successMinDate
            });
            $minDate=$('#start').val();
            $.ajax({
                type:'GET',
                data:{book_id:$id_book,minDate:$minDate},
                url:"../order/maxdata",
                success:successMaxDate

            });

        });
        $('#datetimepicker1').on('dp.change',function () {
            $id_book=$('#id').val();
            $minDate=$('#start').val();
            $.ajax({
                type:'GET',
                data:{book_id:$id_book,minDate:$minDate},
                url:"../order/maxdata",
                success:successMaxDate

            });
        });
        $('#datetimepicker2').on('dp.show',function () {
            $id_book=$('#id').val();
            $minDate=$('#start').val();
            $.ajax({
                type:'GET',
                data:{book_id:$id_book,minDate:$minDate},
                url:"../order/maxdata",
                success:successMaxDate

            });

        });
    });
    function successMinDate(data) {

        $('#datetimepicker1').data("DateTimePicker").disabledDates(data);
        var date=new Date();
        $('#datetimepicker1').data("DateTimePicker").minDate(date.toLocaleString());

    }
    function successMaxDate(data) {
        var text = $('#start').val().toString();
        var myDate = new Date(text.replace(/(\d+).(\d+).(\d+)/, '$3/$2/$1'));
        myDate.setDate(myDate.getDate()+1);

        if(data!=null){
            $('#datetimepicker2').data("DateTimePicker").maxDate(data);
            console.log(myDate.toLocaleString());
            $('#datetimepicker2').data("DateTimePicker").date(myDate.toLocaleString());
            $('#datetimepicker2').data("DateTimePicker").minDate(myDate.toLocaleString());

            return;
        }
        var date=new Date();
        date.setDate(date.getDate()+30);
        $('#datetimepicker2').data("DateTimePicker").maxDate(date.toLocaleString());
        $('#datetimepicker2').data("DateTimePicker").date(myDate.toLocaleString());
        console.log(myDate.toLocaleString());
        $('#datetimepicker2').data("DateTimePicker").minDate(myDate.toLocaleString());

    }
</script>









    </body>
</html>